<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
        <style>
            h1 {
                font-size: 20px;
                margin-top: 24px;
                margin-bottom: 24px;
            }
            img {
                height: 40px;
            }
        </style>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
          crossorigin="anonymous">
        </script>
    </head>
    <body>
       <div class="col-md-6 offset-md-3 mt-5">
          <form action="{% url 'create_list_job' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group mt-3">
              <label class="mr-2">Upload your jar executable:</label>
              <input type="file" name="executable" accept=".jar, application/java-archive" required>
            </div>
            <hr>
            <div class="form-group mt-3">
              <label class="mr-2">Upload your csv input file:</label>
              <input type="file" name="input_file" accept=".csv, text/csv" required>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-md-6 offset-md-3 mt-5">
        <h1>Your jobs:</h1>
        {% for j in jobs %}
          <div>
            <a href="/jobs/{{ j.id }}">{{ j.id }}</a>
          </div>
        {% endfor %}
      </div>
    </body>
</html>