<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous">
        <style>
            h1 {
                font-size: 20px;
                margin-top: 24px;
                margin-bottom: 24px;
            }
            img {
                height: 40px;
            }
        </style>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous">
        </script>
    </head>
    <body>
       <div class="col-md-6 offset-md-3 mt-5">
            <h1>Note: 3 devices runs your job, so you should see atmost 3 partial result files if available.</h1>
            {% if errors %}
                <h1>{{ errors }}}}</h1>
            {% else %}
                <div class="mt-2"><a href="{{ executable.url }}">click to download executable</a></div>
                <div class="mt-2"><a href="{{ input_file.url }}">click to download input file</a></div>
                {% if not partial_results %}
                    <h1>Job is in progress, please wait for the output(s) to become ready ...</h1>
                    <h1>You should refresh the page to see new results.</h1>
                {% endif%}
            {% endif %}
        </div>
        {% if partial_results %}
        <div class="container">
            <div class="row mt-2 border rounded">
                <div class="col-6">
                    partial result
                </div>
                <div class="col-1">
                    index
                </div>
                <div class="col-2">
                    created at
                </div>
            </div>
            {% for x in partial_results %}
                <div class="row mt-2 border rounded">
                    <div class="col-6">
                        <a href="{{ x.partial_result_file.url }}">
                            click to download
                        </a>
                    </div>
                    <div class="col-1">
                        {{ x.index }}
                    </div>
                    <div class="col-2">
                        {{ x.created_at|date:'Y-m-d H:i' }}
                    </div>
                </div>
            {% endfor %}
            <div class="row mt-2">
                <a href="/jobs/">
                    <button type="button" class="btn btn-primary mt-3">
                        Back to jobs page
                    </button>
                </a>
            </div>
        </div>
        {% endif %}
    </body>
</html>